<section class="panel">
        <header class="panel-heading">
                Edit Student
        </header>
        <div class="panel-body table-responsive">
            <%= form_for(:student,:url=>{:action=>'update_student'}) do |f| %>
                
                 <input type="hidden" value="<%= @student.id %>" name="id">

                <div class="form-group">
                    <%= f.label :first_name %>
                    <%= f.text_field :first_name, class: 'form-control', placeholder: "Enter student Name Here" %>
                </div>

                <div class="form-group">
                    <%= f.label :last_name %>
                    <%= f.text_field :last_name, class: 'form-control', placeholder: "Enter student Name Here" %>
                </div>

                <div class="form-group">
                    <%= f.label :username %>
                    <%= f.text_field :username, class: 'form-control', placeholder: "Enter User Name Here" %>
                </div>


                <div class="form-group">
                    <%= f.label :password %>
                    <%= f.text_field :password, class: 'form-control', placeholder: "Enter password Here" %>
                </div>

                <div class="form-group">
                    <%= f.label :contact_no %>
                    <%= f.text_field :contact_no, class: 'form-control', placeholder: "Enter Contact No Here" %>
                </div>
                

                
                <%= f.submit "Save", class: 'button' %>
            <% end %>
        </div>
</section>