<section class="panel">
        <header class="panel-heading">
                Edit Section
        </header>
        <div class="panel-body table-responsive">
            <%= form_for(:section,:url=>{:action=>'update_section'}) do |f| %>
                <input type="hidden" value="<%= @section.id %>" name="id">
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control', placeholder: "Enter Section Name Here" %>
                </div>

                <div class="form-group">
                    <%= f.label :lecturer_id %>
                    <%= f.collection_select(:lecturer_id, Lecturer.all, :id, :first_name ) %>
                    
                </div>

                
                <%= f.submit "Save", class: 'button' %>
            <% end %>
        </div>
</section>