 

    <section class="panel">
        <header class="panel-heading">
            Attendence Sheet for Date <h2> <%= @date %> </h2>
            <br>
            
           
            <br>
        </header>
        <div class="panel-body table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Student Roll</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Status</th>
                        <th>Day</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>

                <% @attendances.each do |attendance| %>
                
                    <tr>
                        <td><%= attendance.student.id %></td>
                        <td><%= attendance.student.first_name %></td>
                        <td><%= attendance.student.last_name %></td>
                        <td><%= attendance.status %></td>
                        <td><%= attendance.day %></td>
                        <td><%= attendance.date %></td>
                    </tr>

                <% end %>

                </tbody>
            </table>
        </div>
    </section>
